Saachi/REST Webservices in JAVA & SOAP Basics-Evening/SOAP/soapWebService/WebContent/wsdl/ProductService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://soapWebService.saachi.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://soapWebService.saachi.com" xmlns:intf="http://soapWebService.saachi.com" xmlns:tns1="http://soapWebServiceModel.saachi.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://soapWebService.saachi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://soapWebServiceModel.saachi.com"/>
   <element name="addProduct">
    <complexType>
     <sequence>
      <element name="product" type="tns1:Product"/>
     </sequence>
    </complexType>
   </element>
   <element name="addProductResponse">
    <complexType>
     <sequence>
      <element name="addProductReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://soapWebServiceModel.saachi.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Product">
    <sequence>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="name" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addProductRequest">

      <wsdl:part element="impl:addProduct" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addProductResponse">

      <wsdl:part element="impl:addProductResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ProductService">

      <wsdl:operation name="addProduct">

         <wsdl:input message="impl:addProductRequest" name="addProductRequest">

       </wsdl:input>

         <wsdl:output message="impl:addProductResponse" name="addProductResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ProductServiceSoapBinding" type="impl:ProductService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addProduct">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addProductRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addProductResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ProductServiceService">

      <wsdl:port binding="impl:ProductServiceSoapBinding" name="ProductService">

         <wsdlsoap:address location="http://localhost:8080/soapWebService/services/ProductService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
