Hemant Saini/Rest WS in JAVA & SOAP Basics - Evening/SOAP/StudentWebService/WebContent/wsdl/StudentWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://com.hemantStudentService.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://com.hemantStudentService.com" xmlns:intf="http://com.hemantStudentService.com" xmlns:tns1="http://com.hemantStudentModel.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://com.hemantStudentService.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://com.hemantStudentModel.com"/>
   <element name="deleteStudent">
    <complexType>
     <sequence>
      <element name="rollNo" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteStudentResponse">
    <complexType>
     <sequence>
      <element name="deleteStudentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addStudent">
    <complexType>
     <sequence>
      <element name="student" type="tns1:Student"/>
     </sequence>
    </complexType>
   </element>
   <element name="addStudentResponse">
    <complexType>
     <sequence>
      <element name="addStudentReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://com.hemantStudentModel.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="Student">
    <sequence>
     <element name="age" type="xsd:int"/>
     <element name="name" nillable="true" type="xsd:string"/>
     <element name="rollNo" type="xsd:int"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="addStudentRequest">

      <wsdl:part element="impl:addStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addStudentResponse">

      <wsdl:part element="impl:addStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentResponse">

      <wsdl:part element="impl:deleteStudentResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteStudentRequest">

      <wsdl:part element="impl:deleteStudent" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="StudentWS">

      <wsdl:operation name="deleteStudent">

         <wsdl:input message="impl:deleteStudentRequest" name="deleteStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteStudentResponse" name="deleteStudentResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStudent">

         <wsdl:input message="impl:addStudentRequest" name="addStudentRequest">

       </wsdl:input>

         <wsdl:output message="impl:addStudentResponse" name="addStudentResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StudentWSSoapBinding" type="impl:StudentWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="deleteStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addStudent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addStudentRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addStudentResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StudentWSService">

      <wsdl:port binding="impl:StudentWSSoapBinding" name="StudentWS">

         <wsdlsoap:address location="http://localhost:8080/StudentWebService/services/StudentWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
